.header{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
}

.header__menu {
    display: none;
    width: 32px;
    cursor: pointer;
}  

.header__menu > img {
    max-width: 100%;
}

.header__menu-icon {
    width: 40px;
}

.header__nav {
    width: 70%;
    display: flex;
    text-align: center;
    font-size: 14px;
}

.header__nav ul li{
    margin-left:42px;
    align-items: center;
    justify-content: space-between;
}

.header__nav ul li:first-child{
    margin-left:0;
    margin-right: 200px;
}

.header__title{
    color: #000000;
    font-weight: 700;
    font-size: 24px;
}

.header button{
    background: #ffffff;
    font-weight: 600;
    font-size: 11px;
    color: #1943EF;
    border: 2px solid #1943EF;
    border-radius: 34px;
    padding: 10px 27px;
}

.header button:hover{
    transition: 0.1s ease;
    background-color: #1943EF;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px;
        background-color: white;
        z-index: 10;
    }
    
    .header__menu {
        display: block;
    }

    .header__nav ul li:first-child{
        margin-right: 0px;
    }

    .header__title{
        margin-right: 40px; /* 700px */
        
    }

    .header__button__try-for-free {
        display: none;
    }

    .header__nav {
        background: rgb(248, 248, 248);
        position: fixed;
        width:100%;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        clip-path: circle(0 at top left);
        transition: clip-path 0.2s ease-in;
    }

    .header__nav.open {
        z-index: 99;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header__nav {
        flex-direction: column;
        height: 100%;
    }

    .header__nav__items{
        justify-content: center;
    }

    .header__nav a{
        margin-right: 0;
        padding-top: 10vh;
        flex: 1;
    }

    .header__nav a{
        font-weight: 500;
        display: block;
        font-size: 32px;
    }
}