.circle__img{
    position: absolute;
    top: -70px;
    width: 50px;
    height: 50px;
    background: #E4F7F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__third {
    margin-top: 160px;
    gap: 50px;
}

.send__content{
    width: 100%;
    max-width: 380px;
    box-shadow: 0px 13.86111px 55.44445px 0px #F2F5FA;
    border-radius: 20.792px;
}

.send__content h3{
    color: #222;
    font-size: 16.633px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-bottom: 3px;
    padding-top: 22px;
    padding-left: 17px;
}

.send__content h3::after{
    content: url(../img/svg/three_dots.svg);
    margin-left: 108px;
}

.send__content__subtext{
    color: rgba(34, 34, 34, 0.80);
    font-size: 11.089px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 19px;
    padding-left: 17px;
}

.send__content__text{
    border-radius: 20.792px;
    color: rgba(115, 115, 141, 0.80);
    font-size: 9.703px;
    font-weight: 500;
    line-height: 180%; 
    opacity: 0.8;
    padding-left: 17px;
    padding-bottom: 22px;
    padding-right: 55px;
}

.feature__third{
    position: relative;
    max-width: 360px
    width 45%;
}

.feature__third h2{
    color: #222;
    font-size: 24.95px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.feature__third p{
    color: #73738D;
    font-size: 14.554px;
    font-weight: 500;
    line-height: 150%; 
}

@media screen and (max-width: 768px) {
    .info__third{
        width: 600px;
        display:block;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
    }

    .send__content{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .feature__third{
        margin: 0 auto;
        justify-content: center;
        margin-bottom: 40px;
    }
    
    .send__content{
        max-width: 600px;
        width: 100%;
    }

    .send__content h3{
        font-size: 25px;
        text-align: left;
    }
    
    .send__content__subtext{
        text-align: left;
        font-size: 15px;
    }
    .send__content h3::after{
        content: url(../img/svg/three_dots.svg);
        margin-left: 190px;
    }

    .send__content__text{
        font-size: 15px;
    }

    .feature__third h2{
        font-size: 30px;
    }

    .feature__third p{
        font-size: 20px;
    }
}