@import "./global.css";

@import "./header.css";

@import "./main.css";

@import "./info_first.css";

@import "./info_second.css";

@import "./info_third.css";

@import "./bottom.css";

@import "./footer.css";

@import "./normalize.min.css";

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Medium.ttf")  format('woff2');
}

* {
    font-family: Gilroy, sans-serif;
}